$icomoon-font-family: "NukeVietIcons" !default;
$icomoon-font-path: "../fonts" !default;

@function unicode($icon) {
  @return unquote("\"")+unquote(str-insert($icon, "\\", 1))+unquote("\"");
}

$ni-angle-right: "e9f5";
$ni-angle-up: "e9f6";
$ni-angle-down: "e9f7";
$ni-angle-left: "e9f8";
$ni-object-group: "e9f2";
$ni-google-plus: "e9f3";
$ni-google: "e9f4";
$ni-rss: "e9eb";
$ni-twitter: "e9ec";
$ni-youtube: "e9ed";
$ni-facebook: "e9ee";
$ni-guest: "e9f1";
$ni-robot: "e9f0";
$ni-file-pdf: "e9ef";
$ni-qr-code: "e9ea";
$ni-home: "e600";
$ni-home2: "e601";
$ni-home3: "e602";
$ni-home4: "e603";
$ni-home5: "e604";
$ni-home6: "e605";
$ni-bathtub: "e606";
$ni-toothbrush: "e607";
$ni-bed: "e608";
$ni-couch: "e609";
$ni-chair: "e60a";
$ni-city: "e60b";
$ni-apartment: "e60c";
$ni-pencil: "e60d";
$ni-pencil2: "e60e";
$ni-pen: "e60f";
$ni-pencil3: "e610";
$ni-eraser: "e611";
$ni-pencil4: "e612";
$ni-pencil5: "e613";
$ni-feather: "e614";
$ni-feather2: "e615";
$ni-feather3: "e616";
$ni-pen2: "e617";
$ni-pen-add: "e618";
$ni-pen-remove: "e619";
$ni-vector: "e61a";
$ni-pen3: "e61b";
$ni-blog: "e61c";
$ni-brush: "e61d";
$ni-brush2: "e61e";
$ni-spray: "e61f";
$ni-paint-roller: "e620";
$ni-stamp: "e621";
$ni-tape: "e622";
$ni-desk-tape: "e623";
$ni-texture: "e624";
$ni-eye-dropper: "e625";
$ni-palette: "e626";
$ni-color-sampler: "e627";
$ni-bucket: "e628";
$ni-gradient: "e629";
$ni-gradient2: "e62a";
$ni-magic-wand: "e62b";
$ni-magnet: "e62c";
$ni-pencil-ruler: "e62d";
$ni-pencil-ruler2: "e62e";
$ni-compass: "e62f";
$ni-aim: "e630";
$ni-gun: "e631";
$ni-bottle: "e632";
$ni-drop: "e633";
$ni-drop-crossed: "e634";
$ni-drop2: "e635";
$ni-snow: "e636";
$ni-snow2: "e637";
$ni-fire: "e638";
$ni-lighter: "e639";
$ni-knife: "e63a";
$ni-dagger: "e63b";
$ni-tissue: "e63c";
$ni-toilet-paper: "e63d";
$ni-poop: "e63e";
$ni-umbrella: "e63f";
$ni-umbrella2: "e640";
$ni-rain: "e641";
$ni-tornado: "e642";
$ni-wind: "e643";
$ni-fan: "e644";
$ni-contrast: "e645";
$ni-sun-small: "e646";
$ni-sun: "e647";
$ni-sun2: "e648";
$ni-moon: "e649";
$ni-cloud: "e64a";
$ni-cloud-upload: "e64b";
$ni-cloud-download: "e64c";
$ni-cloud-rain: "e64d";
$ni-cloud-hailstones: "e64e";
$ni-cloud-snow: "e64f";
$ni-cloud-windy: "e650";
$ni-sun-wind: "e651";
$ni-cloud-fog: "e652";
$ni-cloud-sun: "e653";
$ni-cloud-lightning: "e654";
$ni-cloud-sync: "e655";
$ni-cloud-lock: "e656";
$ni-cloud-gear: "e657";
$ni-cloud-alert: "e658";
$ni-cloud-check: "e659";
$ni-cloud-cross: "e65a";
$ni-cloud-crossed: "e65b";
$ni-cloud-database: "e65c";
$ni-database: "e65d";
$ni-database-add: "e65e";
$ni-database-remove: "e65f";
$ni-database-lock: "e660";
$ni-database-refresh: "e661";
$ni-database-check: "e662";
$ni-database-history: "e663";
$ni-database-upload: "e664";
$ni-database-download: "e665";
$ni-server: "e666";
$ni-shield: "e667";
$ni-shield-check: "e668";
$ni-shield-alert: "e669";
$ni-shield-cross: "e66a";
$ni-lock: "e66b";
$ni-rotation-lock: "e66c";
$ni-unlock: "e66d";
$ni-key: "e66e";
$ni-key-hole: "e66f";
$ni-toggle-off: "e670";
$ni-toggle-on: "e671";
$ni-cog: "e672";
$ni-cog2: "e673";
$ni-wrench: "e674";
$ni-screwdriver: "e675";
$ni-hammer-wrench: "e676";
$ni-hammer: "e677";
$ni-saw: "e678";
$ni-axe: "e679";
$ni-axe2: "e67a";
$ni-shovel: "e67b";
$ni-pickaxe: "e67c";
$ni-factory: "e67d";
$ni-factory2: "e67e";
$ni-recycle: "e67f";
$ni-trash: "e680";
$ni-trash2: "e681";
$ni-trash3: "e682";
$ni-broom: "e683";
$ni-game: "e684";
$ni-gamepad: "e685";
$ni-joystick: "e686";
$ni-dice: "e687";
$ni-spades: "e688";
$ni-diamonds: "e689";
$ni-clubs: "e68a";
$ni-hearts: "e68b";
$ni-heart: "e68c";
$ni-star: "e68d";
$ni-star-half: "e68e";
$ni-star-empty: "e68f";
$ni-flag: "e690";
$ni-flag2: "e691";
$ni-flag3: "e692";
$ni-mailbox-full: "e693";
$ni-mailbox-empty: "e694";
$ni-at-sign: "e695";
$ni-envelope: "e696";
$ni-envelope-open: "e697";
$ni-paperclip: "e698";
$ni-paper-plane: "e699";
$ni-reply: "e69a";
$ni-reply-all: "e69b";
$ni-inbox: "e69c";
$ni-inbox2: "e69d";
$ni-outbox: "e69e";
$ni-box: "e69f";
$ni-archive: "e6a0";
$ni-archive2: "e6a1";
$ni-drawers: "e6a2";
$ni-drawers2: "e6a3";
$ni-drawers3: "e6a4";
$ni-eye: "e6a5";
$ni-eye-crossed: "e6a6";
$ni-eye-plus: "e6a7";
$ni-eye-minus: "e6a8";
$ni-binoculars: "e6a9";
$ni-binoculars2: "e6aa";
$ni-hdd: "e6ab";
$ni-hdd-down: "e6ac";
$ni-hdd-up: "e6ad";
$ni-floppy-disk: "e6ae";
$ni-disc: "e6af";
$ni-tape2: "e6b0";
$ni-printer: "e6b1";
$ni-shredder: "e6b2";
$ni-file-empty: "e6b3";
$ni-file-add: "e6b4";
$ni-file-check: "e6b5";
$ni-file-lock: "e6b6";
$ni-files: "e6b7";
$ni-copy: "e6b8";
$ni-compare: "e6b9";
$ni-folder: "e6ba";
$ni-folder-search: "e6bb";
$ni-folder-plus: "e6bc";
$ni-folder-minus: "e6bd";
$ni-folder-download: "e6be";
$ni-folder-upload: "e6bf";
$ni-folder-star: "e6c0";
$ni-folder-heart: "e6c1";
$ni-folder-user: "e6c2";
$ni-folder-shared: "e6c3";
$ni-folder-music: "e6c4";
$ni-folder-picture: "e6c5";
$ni-folder-film: "e6c6";
$ni-scissors: "e6c7";
$ni-paste: "e6c8";
$ni-clipboard-empty: "e6c9";
$ni-clipboard-pencil: "e6ca";
$ni-clipboard-text: "e6cb";
$ni-clipboard-check: "e6cc";
$ni-clipboard-down: "e6cd";
$ni-clipboard-left: "e6ce";
$ni-clipboard-alert: "e6cf";
$ni-clipboard-user: "e6d0";
$ni-register: "e6d1";
$ni-enter: "e6d2";
$ni-exit: "e6d3";
$ni-papers: "e6d4";
$ni-news: "e6d5";
$ni-reading: "e6d6";
$ni-typewriter: "e6d7";
$ni-document: "e6d8";
$ni-document2: "e6d9";
$ni-graduation-hat: "e6da";
$ni-license: "e6db";
$ni-license2: "e6dc";
$ni-medal-empty: "e6dd";
$ni-medal-first: "e6de";
$ni-medal-second: "e6df";
$ni-medal-third: "e6e0";
$ni-podium: "e6e1";
$ni-trophy: "e6e2";
$ni-trophy2: "e6e3";
$ni-music-note: "e6e4";
$ni-music-note2: "e6e5";
$ni-music-note3: "e6e6";
$ni-playlist: "e6e7";
$ni-playlist-add: "e6e8";
$ni-guitar: "e6e9";
$ni-trumpet: "e6ea";
$ni-album: "e6eb";
$ni-shuffle: "e6ec";
$ni-random: "e6ec";
$ni-repeat-one: "e6ed";
$ni-repeat: "e6ee";
$ni-headphones: "e6ef";
$ni-headset: "e6f0";
$ni-loudspeaker: "e6f1";
$ni-equalizer: "e6f2";
$ni-theater: "e6f3";
$ni-3d-glasses: "e6f4";
$ni-ticket: "e6f5";
$ni-presentation: "e6f6";
$ni-play: "e6f7";
$ni-film-play: "e6f8";
$ni-clapboard-play: "e6f9";
$ni-media: "e6fa";
$ni-film: "e6fb";
$ni-film2: "e6fc";
$ni-surveillance: "e6fd";
$ni-surveillance2: "e6fe";
$ni-camera: "e6ff";
$ni-camera-crossed: "e700";
$ni-camera-play: "e701";
$ni-time-lapse: "e702";
$ni-record: "e703";
$ni-camera2: "e704";
$ni-camera-flip: "e705";
$ni-panorama: "e706";
$ni-time-lapse2: "e707";
$ni-shutter: "e708";
$ni-shutter2: "e709";
$ni-face-detection: "e70a";
$ni-flare: "e70b";
$ni-convex: "e70c";
$ni-concave: "e70d";
$ni-picture: "e70e";
$ni-picture2: "e70f";
$ni-picture3: "e710";
$ni-pictures: "e711";
$ni-book: "e712";
$ni-audio-book: "e713";
$ni-book2: "e714";
$ni-bookmark: "e715";
$ni-bookmark2: "e716";
$ni-label: "e717";
$ni-library: "e718";
$ni-library2: "e719";
$ni-contacts: "e71a";
$ni-profile: "e71b";
$ni-portrait: "e71c";
$ni-portrait2: "e71d";
$ni-user: "e71e";
$ni-user-plus: "e71f";
$ni-user-minus: "e720";
$ni-user-lock: "e721";
$ni-users: "e722";
$ni-users2: "e723";
$ni-users-plus: "e724";
$ni-users-minus: "e725";
$ni-group-work: "e726";
$ni-woman: "e727";
$ni-man: "e728";
$ni-baby: "e729";
$ni-baby2: "e72a";
$ni-baby3: "e72b";
$ni-baby-bottle: "e72c";
$ni-walk: "e72d";
$ni-hand-waving: "e72e";
$ni-jump: "e72f";
$ni-run: "e730";
$ni-woman2: "e731";
$ni-man2: "e732";
$ni-man-woman: "e733";
$ni-height: "e734";
$ni-weight: "e735";
$ni-scale: "e736";
$ni-button: "e737";
$ni-bow-tie: "e738";
$ni-tie: "e739";
$ni-socks: "e73a";
$ni-shoe: "e73b";
$ni-shoes: "e73c";
$ni-hat: "e73d";
$ni-pants: "e73e";
$ni-shorts: "e73f";
$ni-flip-flops: "e740";
$ni-shirt: "e741";
$ni-hanger: "e742";
$ni-laundry: "e743";
$ni-store: "e744";
$ni-haircut: "e745";
$ni-store-24: "e746";
$ni-barcode: "e747";
$ni-barcode2: "e748";
$ni-barcode3: "e749";
$ni-cashier: "e74a";
$ni-bag: "e74b";
$ni-bag2: "e74c";
$ni-cart: "e74d";
$ni-cart-empty: "e74e";
$ni-cart-full: "e74f";
$ni-cart-plus: "e750";
$ni-cart-plus2: "e751";
$ni-cart-add: "e752";
$ni-cart-remove: "e753";
$ni-cart-exchange: "e754";
$ni-tag: "e755";
$ni-tags: "e756";
$ni-receipt: "e757";
$ni-wallet: "e758";
$ni-credit-card: "e759";
$ni-cash-dollar: "e75a";
$ni-cash-euro: "e75b";
$ni-cash-pound: "e75c";
$ni-cash-yen: "e75d";
$ni-bag-dollar: "e75e";
$ni-bag-euro: "e75f";
$ni-bag-pound: "e760";
$ni-bag-yen: "e761";
$ni-coin-dollar: "e762";
$ni-coin-euro: "e763";
$ni-coin-pound: "e764";
$ni-coin-yen: "e765";
$ni-calculator: "e766";
$ni-calculator2: "e767";
$ni-abacus: "e768";
$ni-vault: "e769";
$ni-telephone: "e76a";
$ni-phone-lock: "e76b";
$ni-phone-wave: "e76c";
$ni-phone-pause: "e76d";
$ni-phone-outgoing: "e76e";
$ni-phone-incoming: "e76f";
$ni-phone-in-out: "e770";
$ni-phone-error: "e771";
$ni-phone-sip: "e772";
$ni-phone-plus: "e773";
$ni-phone-minus: "e774";
$ni-voicemail: "e775";
$ni-dial: "e776";
$ni-telephone2: "e777";
$ni-pushpin: "e778";
$ni-pushpin2: "e779";
$ni-map-marker: "e77a";
$ni-map-marker-user: "e77b";
$ni-map-marker-down: "e77c";
$ni-map-marker-check: "e77d";
$ni-map-marker-crossed: "e77e";
$ni-radar: "e77f";
$ni-compass2: "e780";
$ni-map: "e781";
$ni-map2: "e782";
$ni-location: "e783";
$ni-road-sign: "e784";
$ni-calendar-empty: "e785";
$ni-calendar-check: "e786";
$ni-calendar-cross: "e787";
$ni-calendar-31: "e788";
$ni-calendar-full: "e789";
$ni-calendar-insert: "e78a";
$ni-calendar-text: "e78b";
$ni-calendar-user: "e78c";
$ni-mouse: "e78d";
$ni-mouse-left: "e78e";
$ni-mouse-right: "e78f";
$ni-mouse-both: "e790";
$ni-keyboard: "e791";
$ni-keyboard-up: "e792";
$ni-keyboard-down: "e793";
$ni-delete: "e794";
$ni-spell-check: "e795";
$ni-escape: "e796";
$ni-enter2: "e797";
$ni-screen: "e798";
$ni-aspect-ratio: "e799";
$ni-signal: "e79a";
$ni-signal-lock: "e79b";
$ni-signal-80: "e79c";
$ni-signal-60: "e79d";
$ni-signal-40: "e79e";
$ni-signal-20: "e79f";
$ni-signal-0: "e7a0";
$ni-signal-blocked: "e7a1";
$ni-sim: "e7a2";
$ni-flash-memory: "e7a3";
$ni-usb-drive: "e7a4";
$ni-phone: "e7a5";
$ni-smartphone: "e7a6";
$ni-mobile: "e7a6";
$ni-smartphone-notification: "e7a7";
$ni-smartphone-vibration: "e7a8";
$ni-smartphone-embed: "e7a9";
$ni-smartphone-waves: "e7aa";
$ni-tablet: "e7ab";
$ni-tablet2: "e7ac";
$ni-laptop: "e7ad";
$ni-laptop-phone: "e7ae";
$ni-desktop: "e7af";
$ni-launch: "e7b0";
$ni-new-tab: "e7b1";
$ni-window: "e7b2";
$ni-cable: "e7b3";
$ni-cable2: "e7b4";
$ni-tv: "e7b5";
$ni-radio: "e7b6";
$ni-remote-control: "e7b7";
$ni-power-switch: "e7b8";
$ni-power: "e7b9";
$ni-power-crossed: "e7ba";
$ni-flash-auto: "e7bb";
$ni-lamp: "e7bc";
$ni-flashlight: "e7bd";
$ni-lampshade: "e7be";
$ni-cord: "e7bf";
$ni-outlet: "e7c0";
$ni-battery-power: "e7c1";
$ni-battery-empty: "e7c2";
$ni-battery-alert: "e7c3";
$ni-battery-error: "e7c4";
$ni-battery-low1: "e7c5";
$ni-battery-low2: "e7c6";
$ni-battery-low3: "e7c7";
$ni-battery-mid1: "e7c8";
$ni-battery-mid2: "e7c9";
$ni-battery-mid3: "e7ca";
$ni-battery-full: "e7cb";
$ni-battery-charging: "e7cc";
$ni-battery-charging2: "e7cd";
$ni-battery-charging3: "e7ce";
$ni-battery-charging4: "e7cf";
$ni-battery-charging5: "e7d0";
$ni-battery-charging6: "e7d1";
$ni-battery-charging7: "e7d2";
$ni-chip: "e7d3";
$ni-chip-x64: "e7d4";
$ni-chip-x86: "e7d5";
$ni-bubble: "e7d6";
$ni-bubbles: "e7d7";
$ni-bubble-dots: "e7d8";
$ni-bubble-alert: "e7d9";
$ni-bubble-question: "e7da";
$ni-bubble-text: "e7db";
$ni-bubble-pencil: "e7dc";
$ni-bubble-picture: "e7dd";
$ni-bubble-video: "e7de";
$ni-bubble-user: "e7df";
$ni-bubble-quote: "e7e0";
$ni-bubble-heart: "e7e1";
$ni-bubble-emoticon: "e7e2";
$ni-bubble-attachment: "e7e3";
$ni-phone-bubble: "e7e4";
$ni-quote-open: "e7e5";
$ni-quote-close: "e7e6";
$ni-dna: "e7e7";
$ni-heart-pulse: "e7e8";
$ni-pulse: "e7e9";
$ni-syringe: "e7ea";
$ni-pills: "e7eb";
$ni-first-aid: "e7ec";
$ni-lifebuoy: "e7ed";
$ni-bandage: "e7ee";
$ni-bandages: "e7ef";
$ni-thermometer: "e7f0";
$ni-microscope: "e7f1";
$ni-brain: "e7f2";
$ni-beaker: "e7f3";
$ni-skull: "e7f4";
$ni-bone: "e7f5";
$ni-construction: "e7f6";
$ni-construction-cone: "e7f7";
$ni-pie-chart: "e7f8";
$ni-pie-chart2: "e7f9";
$ni-graph: "e7fa";
$ni-chart-growth: "e7fb";
$ni-chart-bars: "e7fc";
$ni-chart-settings: "e7fd";
$ni-cake: "e7fe";
$ni-gift: "e7ff";
$ni-balloon: "e800";
$ni-rank: "e801";
$ni-rank2: "e802";
$ni-rank3: "e803";
$ni-crown: "e804";
$ni-lotus: "e805";
$ni-diamond: "e806";
$ni-diamond2: "e807";
$ni-diamond3: "e808";
$ni-diamond4: "e809";
$ni-linearicons: "e80a";
$ni-teacup: "e80b";
$ni-teapot: "e80c";
$ni-glass: "e80d";
$ni-bottle2: "e80e";
$ni-glass-cocktail: "e80f";
$ni-glass2: "e810";
$ni-dinner: "e811";
$ni-dinner2: "e812";
$ni-chef: "e813";
$ni-scale2: "e814";
$ni-egg: "e815";
$ni-egg2: "e816";
$ni-eggs: "e817";
$ni-platter: "e818";
$ni-steak: "e819";
$ni-hamburger: "e81a";
$ni-hotdog: "e81b";
$ni-pizza: "e81c";
$ni-sausage: "e81d";
$ni-chicken: "e81e";
$ni-fish: "e81f";
$ni-carrot: "e820";
$ni-cheese: "e821";
$ni-bread: "e822";
$ni-ice-cream: "e823";
$ni-ice-cream2: "e824";
$ni-candy: "e825";
$ni-lollipop: "e826";
$ni-coffee-bean: "e827";
$ni-coffee-cup: "e828";
$ni-cherry: "e829";
$ni-grapes: "e82a";
$ni-citrus: "e82b";
$ni-apple: "e82c";
$ni-leaf: "e82d";
$ni-landscape: "e82e";
$ni-pine-tree: "e82f";
$ni-tree: "e830";
$ni-cactus: "e831";
$ni-paw: "e832";
$ni-footprint: "e833";
$ni-speed-slow: "e834";
$ni-speed-medium: "e835";
$ni-speed-fast: "e836";
$ni-rocket: "e837";
$ni-hammer2: "e838";
$ni-balance: "e839";
$ni-briefcase: "e83a";
$ni-luggage-weight: "e83b";
$ni-dolly: "e83c";
$ni-plane: "e83d";
$ni-plane-crossed: "e83e";
$ni-helicopter: "e83f";
$ni-traffic-lights: "e840";
$ni-siren: "e841";
$ni-road: "e842";
$ni-engine: "e843";
$ni-oil-pressure: "e844";
$ni-coolant-temperature: "e845";
$ni-car-battery: "e846";
$ni-gas: "e847";
$ni-gallon: "e848";
$ni-transmission: "e849";
$ni-car: "e84a";
$ni-car-wash: "e84b";
$ni-car-wash2: "e84c";
$ni-bus: "e84d";
$ni-bus2: "e84e";
$ni-car2: "e84f";
$ni-parking: "e850";
$ni-car-lock: "e851";
$ni-taxi: "e852";
$ni-car-siren: "e853";
$ni-car-wash3: "e854";
$ni-car-wash4: "e855";
$ni-ambulance: "e856";
$ni-truck: "e857";
$ni-trailer: "e858";
$ni-scale-truck: "e859";
$ni-train: "e85a";
$ni-ship: "e85b";
$ni-ship2: "e85c";
$ni-anchor: "e85d";
$ni-boat: "e85e";
$ni-bicycle: "e85f";
$ni-bicycle2: "e860";
$ni-dumbbell: "e861";
$ni-bench-press: "e862";
$ni-swim: "e863";
$ni-football: "e864";
$ni-baseball-bat: "e865";
$ni-baseball: "e866";
$ni-tennis: "e867";
$ni-tennis2: "e868";
$ni-ping-pong: "e869";
$ni-hockey: "e86a";
$ni-8ball: "e86b";
$ni-bowling: "e86c";
$ni-bowling-pins: "e86d";
$ni-golf: "e86e";
$ni-golf2: "e86f";
$ni-archery: "e870";
$ni-slingshot: "e871";
$ni-soccer: "e872";
$ni-basketball: "e873";
$ni-cube: "e874";
$ni-3d-rotate: "e875";
$ni-puzzle: "e876";
$ni-glasses: "e877";
$ni-glasses2: "e878";
$ni-accessibility: "e879";
$ni-wheelchair: "e87a";
$ni-wall: "e87b";
$ni-fence: "e87c";
$ni-wall2: "e87d";
$ni-icons: "e87e";
$ni-resize-handle: "e87f";
$ni-icons2: "e880";
$ni-select: "e881";
$ni-select2: "e882";
$ni-site-map: "e883";
$ni-earth: "e884";
$ni-earth-lock: "e885";
$ni-network: "e886";
$ni-network-lock: "e887";
$ni-planet: "e888";
$ni-happy: "e889";
$ni-smile: "e88a";
$ni-grin: "e88b";
$ni-tongue: "e88c";
$ni-sad: "e88d";
$ni-wink: "e88e";
$ni-dream: "e88f";
$ni-shocked: "e890";
$ni-shocked2: "e891";
$ni-tongue2: "e892";
$ni-neutral: "e893";
$ni-happy-grin: "e894";
$ni-cool: "e895";
$ni-mad: "e896";
$ni-grin-evil: "e897";
$ni-evil: "e898";
$ni-wow: "e899";
$ni-annoyed: "e89a";
$ni-wondering: "e89b";
$ni-confused: "e89c";
$ni-zipped: "e89d";
$ni-grumpy: "e89e";
$ni-mustache: "e89f";
$ni-tombstone-hipster: "e8a0";
$ni-tombstone: "e8a1";
$ni-ghost: "e8a2";
$ni-ghost-hipster: "e8a3";
$ni-halloween: "e8a4";
$ni-christmas: "e8a5";
$ni-easter-egg: "e8a6";
$ni-mustache2: "e8a7";
$ni-mustache-glasses: "e8a8";
$ni-pipe: "e8a9";
$ni-alarm: "e8aa";
$ni-alarm-add: "e8ab";
$ni-alarm-snooze: "e8ac";
$ni-alarm-ringing: "e8ad";
$ni-bullhorn: "e8ae";
$ni-hearing: "e8af";
$ni-volume-high: "e8b0";
$ni-volume-medium: "e8b1";
$ni-volume-low: "e8b2";
$ni-volume: "e8b3";
$ni-mute: "e8b4";
$ni-lan: "e8b5";
$ni-lan2: "e8b6";
$ni-wifi: "e8b7";
$ni-wifi-lock: "e8b8";
$ni-wifi-blocked: "e8b9";
$ni-wifi-mid: "e8ba";
$ni-wifi-low: "e8bb";
$ni-wifi-low2: "e8bc";
$ni-wifi-alert: "e8bd";
$ni-wifi-alert-mid: "e8be";
$ni-wifi-alert-low: "e8bf";
$ni-wifi-alert-low2: "e8c0";
$ni-stream: "e8c1";
$ni-stream-check: "e8c2";
$ni-stream-error: "e8c3";
$ni-stream-alert: "e8c4";
$ni-communication: "e8c5";
$ni-communication-crossed: "e8c6";
$ni-broadcast: "e8c7";
$ni-antenna: "e8c8";
$ni-satellite: "e8c9";
$ni-satellite2: "e8ca";
$ni-mic: "e8cb";
$ni-mic-mute: "e8cc";
$ni-mic2: "e8cd";
$ni-spotlights: "e8ce";
$ni-hourglass: "e8cf";
$ni-loading: "e8d0";
$ni-loading2: "e8d1";
$ni-loading3: "e8d2";
$ni-refresh: "e8d3";
$ni-refresh2: "e8d4";
$ni-undo: "e8d5";
$ni-redo: "e8d6";
$ni-jump2: "e8d7";
$ni-undo2: "e8d8";
$ni-redo2: "e8d9";
$ni-sync: "e8da";
$ni-repeat-one2: "e8db";
$ni-sync-crossed: "e8dc";
$ni-sync2: "e8dd";
$ni-repeat-one3: "e8de";
$ni-sync-crossed2: "e8df";
$ni-return: "e8e0";
$ni-return2: "e8e1";
$ni-refund: "e8e2";
$ni-history: "e8e3";
$ni-history2: "e8e4";
$ni-self-timer: "e8e5";
$ni-clock: "e8e6";
$ni-clock2: "e8e7";
$ni-clock3: "e8e8";
$ni-watch: "e8e9";
$ni-alarm2: "e8ea";
$ni-alarm-add2: "e8eb";
$ni-alarm-remove: "e8ec";
$ni-alarm-check: "e8ed";
$ni-alarm-error: "e8ee";
$ni-timer: "e8ef";
$ni-timer-crossed: "e8f0";
$ni-timer2: "e8f1";
$ni-timer-crossed2: "e8f2";
$ni-download: "e8f3";
$ni-upload: "e8f4";
$ni-download2: "e8f5";
$ni-upload2: "e8f6";
$ni-enter-up: "e8f7";
$ni-enter-down: "e8f8";
$ni-enter-left: "e8f9";
$ni-enter-right: "e8fa";
$ni-exit-up: "e8fb";
$ni-exit-down: "e8fc";
$ni-exit-left: "e8fd";
$ni-exit-right: "e8fe";
$ni-enter-up2: "e8ff";
$ni-enter-down2: "e900";
$ni-enter-vertical: "e901";
$ni-enter-left2: "e902";
$ni-enter-right2: "e903";
$ni-enter-horizontal: "e904";
$ni-exit-up2: "e905";
$ni-exit-down2: "e906";
$ni-exit-left2: "e907";
$ni-exit-right2: "e908";
$ni-cli: "e909";
$ni-bug: "e90a";
$ni-code: "e90b";
$ni-file-code: "e90c";
$ni-file-image: "e90d";
$ni-file-zip: "e90e";
$ni-file-audio: "e90f";
$ni-file-video: "e910";
$ni-file-preview: "e911";
$ni-file-charts: "e912";
$ni-file-stats: "e913";
$ni-file-spreadsheet: "e914";
$ni-link: "e915";
$ni-unlink: "e916";
$ni-link2: "e917";
$ni-unlink2: "e918";
$ni-thumbs-up: "e919";
$ni-thumbs-down: "e91a";
$ni-thumbs-up2: "e91b";
$ni-thumbs-down2: "e91c";
$ni-thumbs-up3: "e91d";
$ni-thumbs-down3: "e91e";
$ni-share: "e91f";
$ni-share2: "e920";
$ni-share3: "e921";
$ni-magnifier: "e922";
$ni-file-search: "e923";
$ni-find-replace: "e924";
$ni-zoom-in: "e925";
$ni-zoom-out: "e926";
$ni-loupe: "e927";
$ni-loupe-zoom-in: "e928";
$ni-loupe-zoom-out: "e929";
$ni-cross: "e92a";
$ni-menu: "e92b";
$ni-list: "e92c";
$ni-list2: "e92d";
$ni-list3: "e92e";
$ni-menu2: "e92f";
$ni-list4: "e930";
$ni-menu3: "e931";
$ni-exclamation: "e932";
$ni-question: "e933";
$ni-check: "e934";
$ni-cross2: "e935";
$ni-plus: "e936";
$ni-minus: "e937";
$ni-percent: "e938";
$ni-chevron-up: "e939";
$ni-chevron-down: "e93a";
$ni-chevron-left: "e93b";
$ni-chevron-right: "e93c";
$ni-chevrons-expand-vertical: "e93d";
$ni-chevrons-expand-horizontal: "e93e";
$ni-chevrons-contract-vertical: "e93f";
$ni-chevrons-contract-horizontal: "e940";
$ni-arrow-up: "e941";
$ni-arrow-down: "e942";
$ni-arrow-left: "e943";
$ni-arrow-right: "e944";
$ni-arrow-up-right: "e945";
$ni-arrows-merge: "e946";
$ni-arrows-split: "e947";
$ni-arrow-divert: "e948";
$ni-arrow-return: "e949";
$ni-expand: "e94a";
$ni-contract: "e94b";
$ni-expand2: "e94c";
$ni-contract2: "e94d";
$ni-move: "e94e";
$ni-tab: "e94f";
$ni-arrow-wave: "e950";
$ni-expand3: "e951";
$ni-expand4: "e952";
$ni-contract3: "e953";
$ni-notification: "e954";
$ni-warning: "e955";
$ni-notification-circle: "e956";
$ni-question-circle: "e957";
$ni-menu-circle: "e958";
$ni-checkmark-circle: "e959";
$ni-cross-circle: "e95a";
$ni-plus-circle: "e95b";
$ni-circle-minus: "e95c";
$ni-percent-circle: "e95d";
$ni-arrow-up-circle: "e95e";
$ni-arrow-down-circle: "e95f";
$ni-arrow-left-circle: "e960";
$ni-arrow-right-circle: "e961";
$ni-chevron-up-circle: "e962";
$ni-chevron-down-circle: "e963";
$ni-chevron-left-circle: "e964";
$ni-chevron-right-circle: "e965";
$ni-backward-circle: "e966";
$ni-first-circle: "e967";
$ni-previous-circle: "e968";
$ni-stop-circle: "e969";
$ni-play-circle: "e96a";
$ni-pause-circle: "e96b";
$ni-next-circle: "e96c";
$ni-last-circle: "e96d";
$ni-forward-circle: "e96e";
$ni-eject-circle: "e96f";
$ni-crop: "e970";
$ni-frame-expand: "e971";
$ni-frame-contract: "e972";
$ni-focus: "e973";
$ni-transform: "e974";
$ni-grid: "e975";
$ni-grid-crossed: "e976";
$ni-layers: "e977";
$ni-layers-crossed: "e978";
$ni-toggle: "e979";
$ni-rulers: "e97a";
$ni-ruler: "e97b";
$ni-funnel: "e97c";
$ni-flip-horizontal: "e97d";
$ni-flip-vertical: "e97e";
$ni-flip-horizontal2: "e97f";
$ni-flip-vertical2: "e980";
$ni-angle: "e981";
$ni-angle2: "e982";
$ni-subtract: "e983";
$ni-combine: "e984";
$ni-intersect: "e985";
$ni-exclude: "e986";
$ni-align-center-vertical: "e987";
$ni-align-right: "e988";
$ni-align-bottom: "e989";
$ni-align-left: "e98a";
$ni-align-center-horizontal: "e98b";
$ni-align-top: "e98c";
$ni-square: "e98d";
$ni-plus-square: "e98e";
$ni-minus-square: "e98f";
$ni-percent-square: "e990";
$ni-arrow-up-square: "e991";
$ni-arrow-down-square: "e992";
$ni-arrow-left-square: "e993";
$ni-arrow-right-square: "e994";
$ni-chevron-up-square: "e995";
$ni-chevron-down-square: "e996";
$ni-chevron-left-square: "e997";
$ni-chevron-right-square: "e998";
$ni-check-square: "e999";
$ni-cross-square: "e99a";
$ni-menu-square: "e99b";
$ni-prohibited: "e99c";
$ni-circle: "e99d";
$ni-radio-button: "e99e";
$ni-ligature: "e99f";
$ni-text-format: "e9a0";
$ni-text-format-remove: "e9a1";
$ni-text-size: "e9a2";
$ni-bold: "e9a3";
$ni-italic: "e9a4";
$ni-underline: "e9a5";
$ni-strikethrough: "e9a6";
$ni-highlight: "e9a7";
$ni-text-align-left: "e9a8";
$ni-text-align-center: "e9a9";
$ni-text-align-right: "e9aa";
$ni-text-align-justify: "e9ab";
$ni-line-spacing: "e9ac";
$ni-indent-increase: "e9ad";
$ni-indent-decrease: "e9ae";
$ni-text-wrap: "e9af";
$ni-pilcrow: "e9b0";
$ni-direction-ltr: "e9b1";
$ni-direction-rtl: "e9b2";
$ni-page-break: "e9b3";
$ni-page-break2: "e9b4";
$ni-sort-alpha-asc: "e9b5";
$ni-sort-alpha-desc: "e9b6";
$ni-sort-numeric-asc: "e9b7";
$ni-sort-numeric-desc: "e9b8";
$ni-sort-amount-asc: "e9b9";
$ni-sort-amount-desc: "e9ba";
$ni-sort-time-asc: "e9bb";
$ni-sort-time-desc: "e9bc";
$ni-sigma: "e9bd";
$ni-pencil-line: "e9be";
$ni-hand: "e9bf";
$ni-pointer-up: "e9c0";
$ni-pointer-right: "e9c1";
$ni-pointer-down: "e9c2";
$ni-pointer-left: "e9c3";
$ni-finger-tap: "e9c4";
$ni-fingers-tap: "e9c5";
$ni-reminder: "e9c6";
$ni-fingers-crossed: "e9c7";
$ni-fingers-victory: "e9c8";
$ni-gesture-zoom: "e9c9";
$ni-gesture-pinch: "e9ca";
$ni-fingers-scroll-horizontal: "e9cb";
$ni-fingers-scroll-vertical: "e9cc";
$ni-fingers-scroll-left: "e9cd";
$ni-fingers-scroll-right: "e9ce";
$ni-hand2: "e9cf";
$ni-pointer-up2: "e9d0";
$ni-pointer-right2: "e9d1";
$ni-pointer-down2: "e9d2";
$ni-pointer-left2: "e9d3";
$ni-finger-tap2: "e9d4";
$ni-fingers-tap2: "e9d5";
$ni-reminder2: "e9d6";
$ni-gesture-zoom2: "e9d7";
$ni-gesture-pinch2: "e9d8";
$ni-fingers-scroll-horizontal2: "e9d9";
$ni-fingers-scroll-vertical2: "e9da";
$ni-fingers-scroll-left2: "e9db";
$ni-fingers-scroll-right2: "e9dc";
$ni-fingers-scroll-vertical3: "e9dd";
$ni-border-style: "e9de";
$ni-border-all: "e9df";
$ni-border-outer: "e9e0";
$ni-border-inner: "e9e1";
$ni-border-top: "e9e2";
$ni-border-horizontal: "e9e3";
$ni-border-bottom: "e9e4";
$ni-border-left: "e9e5";
$ni-border-vertical: "e9e6";
$ni-border-right: "e9e7";
$ni-border-none: "e9e8";
$ni-ellipsis: "e9e9";

