/*!
 * NukeViet Icons
 * Version 1.0
 */

@import "variables";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right {
    &:before {
        content: unicode($icon-caret-right);
    }
}

.icon-caret-left {
    &:before {
        content: unicode($icon-caret-left);
    }
}

.icon-caret-up {
    &:before {
        content: unicode($icon-caret-up);
    }
}

.icon-caret-down {
    &:before {
        content: unicode($icon-caret-down);
    }
}

.icon-crown {
    &:before {
        content: unicode($icon-crown);
    }
}

.icon-error {
    &:before {
        content: unicode($icon-error);
    }
}

.icon-success {
    &:before {
        content: unicode($icon-success);
    }
}

.icon-info {
    &:before {
        content: unicode($icon-info);
    }
}

.icon-eye {
    &:before {
        content: unicode($icon-eye);
    }
}

.icon-eye-slash {
    &:before {
        content: unicode($icon-eye-slash);
    }
}

.icon-today {
    &:before {
        content: unicode($icon-today);
    }
}

.icon-qrcode {
    &:before {
        content: unicode($icon-qrcode);
    }
}

.icon-enter {
    &:before {
        content: unicode($icon-enter);
    }
}

.icon-exit {
    &:before {
        content: unicode($icon-exit);
    }
}

.icon-yahoo {
    &:before {
        content: unicode($icon-yahoo);
    }
}

.icon-icq {
    &:before {
        content: unicode($icon-icq);
    }
}

.icon-old-phone {
    &:before {
        content: unicode($icon-old-phone);
    }
}

.icon-nukeviet {
    &:before {
        content: unicode($icon-nukeviet);
    }
}

.icon-nukeviet_sm {
    &:before {
        content: unicode($icon-nukeviet_sm);
    }
}

.icon-callcenter {
    &:before {
        content: unicode($icon-callcenter);
    }
}

.icon-viber {
    &:before {
        content: unicode($icon-viber);
    }
}