@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?bpz1qs') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?bpz1qs') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?bpz1qs') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?bpz1qs##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crown {
  &:before {
    content: $icon-crown; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-success {
  &:before {
    content: $icon-success; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-eye-slash {
  &:before {
    content: $icon-eye-slash; 
  }
}
.icon-today {
  &:before {
    content: $icon-today; 
  }
}
.icon-qrcode {
  &:before {
    content: $icon-qrcode; 
  }
}
.icon-enter {
  &:before {
    content: $icon-enter; 
  }
}
.icon-exit {
  &:before {
    content: $icon-exit; 
  }
}
.icon-yahoo {
  &:before {
    content: $icon-yahoo; 
  }
}
.icon-icq {
  &:before {
    content: $icon-icq; 
  }
}
.icon-old-phone {
  &:before {
    content: $icon-old-phone; 
  }
}
.icon-nukeviet {
  &:before {
    content: $icon-nukeviet; 
  }
}
.icon-nukeviet_sm {
  &:before {
    content: $icon-nukeviet_sm; 
  }
}
.icon-callcenter {
  &:before {
    content: $icon-callcenter; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}

