$icomoon-font-family: "NukeVietIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-dollar: "\e942";
$icon-envelope: "\e90b";
$icon-desktop: "\e90c";
$icon-chevron-down: "\e90d";
$icon-chevron-left: "\e90e";
$icon-chevron-right: "\e90f";
$icon-chevron-up: "\e91a";
$icon-smartphone: "\e91b";
$icon-radio: "\e91c";
$icon-eye: "\e91d";
$icon-expand: "\e91e";
$icon-arrow-down: "\e92c";
$icon-arrow-up: "\e92f";
$icon-check: "\e92b";
$icon-menu: "\e91f";
$icon-arrow-left: "\e930";
$icon-arrow-right: "\e931";
$icon-disabled-radio: "\e92a";
$icon-check-radio: "\e92d";
$icon-star: "\e92e";
$icon-star-empty: "\e93a";
$icon-home: "\e93d";
$icon-magnifier: "\e93e";
$icon-cog: "\e93f";
$icon-visibility-off: "\e94a";
$icon-shuffle: "\e94c";
$icon-rss: "\e93c";
$icon-twitter: "\e933";
$icon-google-plus: "\e938";
$icon-facebook: "\e939";
$icon-youtube: "\e93b";
$icon-discount: "\e94f";
$icon-gift: "\e94e";
$icon-vip2: "\e94d";
$icon-tick: "\e94b";
$icon-certified: "\e949";
$icon-select: "\e946";
$icon-checklist: "\e947";
$icon-bid: "\e948";
$icon-edit: "\e945";
$icon-delete: "\e943";
$icon-vip: "\e944";
$icon-filter: "\e941";
$icon-vinades: "\e940";
$icon-auction: "\e932";
$icon-check-checkbox: "\e928";
$icon-checkbox: "\e929";
$icon-toggle-on: "\e926";
$icon-toggle-off: "\e927";
$icon-sync: "\e90a";
$icon-dauthau-logo: "\e925";
$icon-ellipsis: "\e910";
$icon-disabled-checkbox: "\e911";
$icon-bullhorn: "\e912";
$icon-alarm: "\e913";
$icon-crown: "\e914";
$icon-callcenter: "\e915";
$icon-calendar-user: "\e916";
$icon-calendar: "\e917";
$icon-old-phone: "\e918";
$icon-users2: "\e919";
$icon-users: "\e920";
$icon-user: "\e921";
$icon-exit: "\e922";
$icon-enter: "\e923";
$icon-key: "\e924";
$icon-licence: "\e958";
$icon-plan: "\e957";
$icon-businessman: "\e956";
$icon-solicitor: "\e955";
$icon-bidding: "\e954";
$icon-gavel: "\e953";
$icon-responsive: "\e937";
$icon-anonymous: "\e935";
$icon-guest: "\e936";
$icon-bot: "\e934";
$icon-medal-first: "\e900";
$icon-medal-second: "\e901";
$icon-medal-third: "\e902";
$icon-zalo: "\e903";
$icon-qrcode: "\e904";
$icon-yahoo: "\e905";
$icon-icq: "\e906";
$icon-nukeviet: "\e907";
$icon-nukeviet_sm: "\e908";
$icon-viber: "\e909";

