$icomoon-font-family: "NukeVietIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-caret-right: "\e906";
$icon-caret-left: "\e907";
$icon-caret-up: "\e908";
$icon-caret-down: "\e909";
$icon-crown: "\e905";
$icon-error: "\e902";
$icon-success: "\e903";
$icon-info: "\e904";
$icon-eye: "\e900";
$icon-eye-slash: "\e901";
$icon-today: "\e600";
$icon-qrcode: "\e601";
$icon-enter: "\e602";
$icon-exit: "\e603";
$icon-yahoo: "\e604";
$icon-icq: "\e605";
$icon-old-phone: "\e606";
$icon-nukeviet: "\e607";
$icon-nukeviet_sm: "\e608";
$icon-callcenter: "\e609";
$icon-viber: "\e60a";

